body{
    background-color: #e8bd84;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 20px;
    opacity: 0.8;
    background-color: #4a3e33;
    height:600px;
    width:450px;
    border-radius: 1%;
}
.timer{
    width: 350px;
    height: 200px;
    background-color:#646462 ;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 170px;
    background-color: white;
}
.starttime{
    font-size: 40px;
    font-weight: 700;
    color:#00a0b0;
}
.sessioncount{
    font-size: 30px;
    font-weight: 600;
    color:#ffffff;
}
h6{
    color: white;
}
#session-time{
    color:#02919e ;
    padding-left: 15px;
}
#break-time{
    color:#cd603f;
    padding-left: 15px;
}
.plus-minus{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.plus,.minus{
    margin-right: 5px;
    border-radius: 5px;
    width: 50px;
    color: white;
    border: none;
    background-color: #1c1815;
}

.s-time,.b-time
{
    padding-left: 10px;
}
hr{
    border-top: 2px dotted #595049;
}
.start,.reset{
    margin-right: 5px;
    border-radius: 5px;
    width: 100px;
    height: 50PX;
    color: white;
    border: none;
    background-color: #1c1815;
}
